.container.dark {
  height: 100vh;
  background-color: #111;
  color: #fff;
  padding-left: 10px;
  padding-top: 10px;
}

.container.light {
  color: #000;
  height: 100vh;
  background-color: #ccc;
  padding-left: 10px;
  padding-top: 10px;
}

.switchTheme {
  border-radius: 10px;
  font-weight: 900;
  text-transform: capitalize;
  font-size: 16px;
  outline: none;
  top: 20px;
  right: 10px;
  position: fixed;
  padding: 8px;
}
a {
  color: #fff;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
